.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 26, 77);
}

.top h3 {
  color: white;
  text-transform: uppercase;
}

.top a {
  color: white;
}

.top a:hover {
  background-color: white;
  color: blue;
}

.mainc {
  height: 100px;
}

.locations {
  background-color: rgb(26, 26, 26);
  height: 1700px;
  color: white;
  position: fixed;
  z-index: 2;
  display: none;
}

.locations h5 {
  padding: 20px;
  cursor: pointer;
}

.locations h6 {
  padding: 15px;
  border: 1px solid white;
  border-width: 0 0 1px 0;
  cursor: pointer;
}

.wall {
  padding: 0;
  height: 500px;
  background-image: url('../assets/constraction/wall.jpg');
  background-size: cover;
  background-position: fixed;
}
.carpenter{
  padding: 0;
  height: 500px;
  background-image: url('../assets/backgrounds/capentersbackground.jpg');
  background-size: cover;
  background-position: fixed;
}
.electrician{
  padding: 0;
  height: 500px;
  background-image: url('../assets/backgrounds/electricianbackground.jpeg');
  background-size: cover;
  background-position: fixed;
}
.whatsapp{
  color: black;
  text-decoration: none;
}
.plumber {
  padding: 0;
  height: 500px;
  background-image: url('../assets/plumber1/plumber html.jpg');
  background-size: cover;
  background-position: fixed;
}
.painter{
  padding: 0;
  height: 500px;
  background-image: url('../assets/painters/p.jpeg');
  background-size: cover;
  background-position: fixed;
}
.gardener {
  padding: 0;
  height: 500px;
  background-image: url('../assets/gardener/gardener.jpg');
  background-size: cover;
  background-position: fixed;
}
.roofer{
    padding: 0;
    height: 500px;
    background-image: url('../assets/roofing/roofer new.jpeg');
    background-size: cover;
    background-position: fixed;
  }
.welder{
  padding: 0;
  height: 500px;
  background-image: url('../assets/welding/welder1.jpeg');
  background-size: cover;
  background-position: fixed;

}

.overlay {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .wall-data {
  margin-left: 90px;
  color: white;
}

.overlay .wall-data h3 {
  margin: 0 0 0 20px;
  font-size: 4em;
}

.overlay .wall-data p {
  margin-left: 20px;
  color: white;
  margin-top: 20px;
}

.overlay .wall-data .btn {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
  margin-top: 20px;
}

.overlay .wall-data .btn:hover {
  transition: .5s;
  background-color: white;
  color: rgb(0, 26, 77);
}
.btn{
  background-color: rgb(0,26,77);
  border-color:rgb(0,26,77);
}
.buru-buru, .umoja, .westlands, .kawangware, .ngong {
  padding: 40px;
  display: none;
}
.details{
  margin-top:450px;
}
.details h3{

}
.details p {
  font-style: italic;
  padding: 10px;
  letter-spacing: 1.5px;
  border: solid 1px rgb(0, 26, 77);
  border-width: 0 0 0 10px;
  background-color: rgba(0, 26, 77, .1);
}
.card-img-top{
  height:270px;

}
.final-top{
    background-color: rgb(26, 26, 26);
}
.final{
  /* padding-top: ; */
  background-color: rgb(26, 26, 26);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons img{
  padding: 30px 10px;
}
.bottom{
  text-align: center;
  padding: 20px;
  color:white;
  background-color: rgb(0, 26, 77);
}
form.sub input{
border: 1px solid white;
background: transparent;
border-width: 0 0 1px 0;
color:white;
border-radius:0;
}
