<<<<<<< HEAD
=======

/* // css file in div class-container fluid in services.html */

/* // background image for the services  */
body {
    background-image:url(..)
}
/* /* // background image should be uniform **************** */

/* // font family choosing google-fonts  */
.jumbotron-fluid{
    text-align:center;
}
h1{
    font-family: 'Lacquer', sans-serif;
    font-size:30px;
    text-align:center;  
}
/* // images for the services (8 images) */
#img-plumber,#img-carpenter,#img-electrican,#img-painter,#img-renovation1,#img-roofing2,#img-renovation1,#img-welding1{
    width:290px;
    height:500vh;
}
/* // images for done with the profesional workers  */
#text-plumber,#text-carpenter,#text-electrican,#text-painter,#text-renovation1,#text-roofing2,#text-renovation1,#text-welding1{
}

>>>>>>> e3b09618734f958b3fcebe5c7b0f7141e62b6546
